extends admin
block div
    div#cates_cards.am-padding
        ul.am-avg-sm-4
            each item in cates
                li
                    div.cate_card.am-padding
                        h1= item.name
                        p 商品数: #{item.count_goods}
                        p 数据来源：#{item.api_name}
                        p.am-margin-top
                            button.am-btn.am-btn-danger.spider_btn.am-btn-xs(href="#{item.spider_url}") 更新数据
                            button.am-btn.am-btn-primary.ajax_load_btn.am-btn-xs(href="/admin/load/goods/#{item.id}") 明细

    div#data_spider_content.am-padding.am-margin-top-lg
