extends admin
block div
    div.am-panel.am-panel-primary.am-margin
        div.am-panel-hd
            h3.am-panel-title 分类列表
        div.am-panel-bd
            a.am-btn.am-btn-primary(href="/admin/cate/add/0") 
                i.am-icon.am-icon-plus &nbsp;
                | 新增
        table.am-table
            thead
                tr
                    th 编号
                    th 类别名
                    th API
                    th 本地爬虫地址
                    th 操作
            tbody
                each item in cates
                    tr
                        td= item.id
                        td= item.name
                        td= item.api_name
                        td= item.spider_url
                        td
                            a(href="/admin/cate/add/#{item.id}").am-btn.am-btn-warning.am-btn-xs 编辑
                            button(href="/admin/cate/del/#{item.id}",type="button").del_cate_btn.am-btn.am-btn-danger.am-btn-xs 删除


